In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.DataFrame()

df = pd.read_csv('vehicules-circulation-2016.csv')

In [3]:
df.head(5)

,AN,NOSEQ_VEH,CLAS,TYP_VEH_CATEG_USA,MARQ_VEH,MODEL_VEH,ANNEE_MOD,MASSE_NETTE,NB_CYL,CYL_VEH,NB_ESIEU_MAX,COUL_ORIG,TYP_DOSS_PERS,PHYS_SEX,PHYS_AGE,REG_ADM,MRC,CG_FIXE
0,2016,2016_0000000001,PAU,AU,MAZDA,3,2009.0,1221.0,4.0,2000.0,NaN,GRI,P,F,32.0,Laurentides (15),Deux-Montagnes (72 ),72010.0
1,2016,2016_0000000002,PAU,AU,HONDA,CIVIC,2014.0,1246.0,4.0,1804.0,NaN,GRI,P,F,43.0,Saguenay–Lac-Saint-Jean (02),Maria-Chapdelaine (92 ),92030.0
2,2016,2016_0000000003,PAU,AU,FORD,F150,2015.0,2217.0,8.0,5002.0,NaN,BRO,P,M,29.0,Chaudière-Appalaches (12),Les Etchemins (28 ),28005.0
3,2016,2016_0000000004,PAU,AU,DODGE,GRAND,2010.0,1918.0,6.0,3296.0,NaN,ARG,P,M,59.0,Montérégie (16),Vaudreuil-Soulanges (71 ),71083.0
4,2016,2016_0000000005,PAU,AU,CHEVR,CRUZE,2011.0,1411.0,4.0,1394.0,NaN,GRI,P,M,32.0,Montréal (06),Montréal (66 ),66023.0